JO</t><div class="an-activate-page">
    <div class="an-activate-content">
        <%- include headnav.html -%>
       
        <div class="opening">
           <div class="an-full-container">
                <div class="container">
                    <h1>ACTIVATE</h1>
                    <div class="bottom-content">
                        <h3>Brands have realized over the years the essence of interactive experiences in elevating consumer relationship.</h3>
                    </div>
                </div>
            </div>  
        </div>

        <div class="services container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h3>Brand Communications</h3>
                    <p>Branding, Advertising and Design</p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3>Events and Promotions</h3>
                    <p>Product Launch, Conferences and Conventions, Promotional Roadshows, Trade Exhibits</p>     
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h3>Experiencial Marketing</h3>
                    <p>Activation, Road Management</p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3>Integrated Marketing Communications</h3>
                </div>
            </div>
        </div>

        <div class="midway">
            <h3>Expedio always takes extra steps to create meaningful brand experiences that reach anyone, anywhere.</h3>
        </div>

        <div class="major-projects">
            <h3>Our Work and Collaboration</h3>
            <img src="<%= __ASSETS_PATH__ %>images/activate/collab/LAZADA.jpg" alt="">
        </div> 
                
    </div>
</div>

<script>
</script>