<div id="expedio_activate" class="activate-container">
    <%- include headnav.html -%>
    <main class="activate-page"> 
        <section class="opening">
            <h1>ACTIVATE</h1>
            <div class="bottom-content">
                <h4>Brands have realized over the years the essence of interactive experiences in elevating consumer relationship.</h4>
            </div>
            
        </section>

        <section class="services">
            <div class="card">
                <p class="card-title">Brand Communications</p>
                <p class="card-content">Branding, Advertising and Design</p>
            </div>
            <div class="card">
                <p class="card-title">Events and Promotions</p>
                <p class="card-content">Product Launch, Conferences and Conventions, Promotional Roadshows, Trade Exhibits</p>     
            </div>
            <div class="card">
                <p class="card-title">Experiencial Marketing</p>
                <p class="card-content">Activation, Road Management</p>
            </div>
            <div class="card">
                <p class="card-title">Integrated Marketing Communications</p>
            </div>
        </section>

        <section class="midway">
            <h4>Expedio always takes extra steps to create meaningful brand experiences that reach anyone, anywhere.</h4>
        </section>

        <section class="major-projects">
            <h2>Our Work and Collaboration</h2>
            <div class="carousel">
                <img src="<%= __ASSETS_PATH__ %>images/activate/collab/LAZADA.jpg" alt="">
            </div>
        </section>             
        
    </main>
</div>