<div id="expedio_contact" class="contact-container">
   
    <%- include headnav.html -%>
    <main class="contact-page">
        <section class="col">
            <img src="<%= __ASSETS_PATH__ %>images/contact-us/bldg.png">
        <div class="address">
            <h3>6/F the Community Bldg.</h3>
            <p>Metropoli Dr., Metropoli Residenza <br />
                Brgy. Bagumbayan, (libis) Q.C<br />
                1110 Philippines</p>
                <p><b>Give us a Call :</b> (632) 7219761 / 7219758</p>
                <p><b>Send us a Fax  :</b> (632) 4611935</p>
                <button><img src="<%= __ASSETS_PATH__ %>images/contact-us/download.png" class="mr-1">Download our kit</button>
            </div>
        </section>
        <section class="col">
            <div class="collab-text">
                <h2>Collaborate with us!</h2>
                <p>At Expedio, we start collaboration with by brewing ideas.<br />
                    Share us your ideas or concerns.<br />
                    We'd love to know your cup of tea - or coffee!</p>
            </div>
            <!--contact form -->
            <form>
                <input placeholder="Tell us your name">
                <input placeholder="How should we call you?">
                <input placeholder="Where can we send you an e-mail?">
                <select name="cars">
                    <option selected disabled>What do you want to talk about?</option>
                    <option value="Client Inquiry">Client Inquiry</option>
                    <option value="Supplier Inquiry">Supplier Inquiry</option>
                    <option value="Jobs and Internship">Jobs and Internship</option>
                    <option value="Projects Inquiry">Projects Inquiry</option>
                </select>
                <textarea placeholder="Please write your message here" rows="8"></textarea>
                <button><img src="<%= __ASSETS_PATH__ %>images/contact-us/submit.png" class="mr-1">Send us your brew!</button>
            </form>
            <button class="btn-secondary messenger">Chat with us <img src="<%= __ASSETS_PATH__ %>images/contact-us/messenger.png" class="ml-1"></button>
        </section>
        
    </main>

</div>