<main id="expedio_contact" class="contact-container">
   
  <div class="contact-page">
    <section>
      <img src="<%= __ASSETS_PATH__ %>images/contact-us/bldg.png">
      <div class="address">
        <p>6/F The Community Building</p>
        <p>Metropoli Dr., Metropoli Residenza Brgy. Bagumbayan, (Libis) Q.C 1110 Philippines</p>
        <p><b>Give us a Call :</b> (632) 7219761 / 7219758</p>
        <p><b>Send us a Fax  :</b> (632) 4611935</p>
        <button class="btn-img" style="background-image: url('<%= __ASSETS_PATH__ %>images/logo/dl-pl.svg');">Download our kit</button>
      </div>
    </section>
    <section>
      <div class="collab-text">
        <h4>Collaborate with us!</h4>
        <p>At Expedio, we start collaboration with by brewing ideas. Share us your ideas or concerns. We'd love to know your cup of tea - or coffee!</p>
      </div>
      <!--contact form -->
      <form data-form="collaborate" name="collaborate" novalidate>
        <div class="form-group">
            <input name="name" placeholder="Tell us your name">
        </div>
        <div class="form-group">
          <input name="nickName" placeholder="How should we call you?">
        </div>
        <div class="form-group">
          <input name="email" placeholder="Where can we send you an e-mail?">
        </div>
        <div class="form-group">
          <select name="subject" class="subject">
              <option selected disabled>What do you want to talk about?</option>
              <option value="Client Inquiry">Client Inquiry</option>
              <option value="Supplier Inquiry">Supplier Inquiry</option>
              <option value="Jobs and Internship">Jobs and Internship</option>
              <option value="Projects Inquiry">Projects Inquiry</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="message" placeholder="Please write your message here" rows="8"></textarea>
        </div>
        <button type="submit" class="btn-img" style="background-image: url('<%= __ASSETS_PATH__ %>images/contact-us/submit.png');">Send us your brew!</button>
      </form>

      <button id="fbChatBtn" class="btn-secondary messenge btn-img" style="background-image: url('<%= __ASSETS_PATH__ %>images/logo/ms.svg');">Chat with us</button>

    </section>
        
    </div>

    <div class="fb-container"></div>

</main>