<main id="expedio_engage" class="engage-container">
  <div id="engage_scene" class="parallax-scene">
    <div class="engage-page page" data-depth="0.0">
        <section class="opening">
            <%- include headnav.html -%>
            <div class="title"> 
                <h1>Engage</h1>
            </div>
            <div class="bottom-content">
                <h4>Experiences are most powerful when they are valued, remembered and shared.</h4>
            </div>
        </section>
    
      <!--   <section class="testimonials">
            <h4>Testimonials</h4>
            <div class="space-testimony">
                <img class="space-stars" src="<%= __ASSETS_PATH__ %>images/engage/stars.png">
                <img class="space-astronaut" src="<%= __ASSETS_PATH__ %>images/engage/astronaut.png">
                <img class="space-crater"src="<%= __ASSETS_PATH__ %>images/engage/crater.png">
            </div>
        </section>
     -->
        <section class="midway">
            <h4>We make sure to create wonderful engagements through experiences that stay with our audience.</h4>
        </section>
    
        <section class="live-stream">
            <h4>Live Stream</h4>
            <video width="100%" height="auto" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </section>
      </div>

      <div class="floating-bg floating-bg-right" data-depth="0.4">
        <img class="wave-right" src="<%= __ASSETS_PATH__ %>images/engage/floating-line-art-right.png" class="floating-img">
      </div>

      <div class="floating-bg floating-bg-left" data-depth="0.8">
        <img class="wave-left" src="<%= __ASSETS_PATH__ %>images/engage/floating-line-art-left.png" class="floating-img">
      </div>

    </div>
</main>
