<div id="expedio_experience" class="experience-container">
    <%- include headnav.html -%>
    <main class="experience-page">
        <section class="opening">
            <h1>Experience</h1>
            <div class="bottom-content">
                <h4>Experience is the new king</h4>
            </div>
        </section>
    
        <section class="partners">
            <h3>Partners</h3>
            <div class="thumbnails">
                <div>
                    <div class="invisi-cover"></div>
                    <div class="thumb-details">
                        <h5>Mike Gumaru</h5>
                        <p>Managing Partners</p>
                    </div>
                    <img class="" src="<%= __ASSETS_PATH__ %>images/experience/partners/JELEN.jpg">
                </div>
                <div>
                  <div class="invisi-cover"></div>  
                  <div class="thumb-details">
                    <h5>Oman Tanchingco</h5>
                    <p>Chief Integrator</p>
                  </div>
                  <img class="" src="<%= __ASSETS_PATH__ %>images/experience/partners/MIKE.jpg">
                </div>
                <div>
                  <div class="invisi-cover"></div>  
                  <div class="thumb-details">
                    <h5>Jelen Pronstroller</h5>
                    <p>Managing Partner - Events</p>
                  </div>
                  <img class=""src="<%= __ASSETS_PATH__ %>images/experience/partners/OMAN.jpg">
                </div>
            </div>
        </section>
    
        <section class="midway">
            <h4>Our team at Expedio believes in the power of experience in
                communicating brand stories that truly connect to the people.</h4>
        </section>
        
        <section class="acct-prod">
          <div class="desc-con">
            <h3>Accounts and Prodution</h3>
            <div class="details-con">
              <small>
              <h6>Accounts</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud</p>
              <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.</p>
              <p>Lorem ipsum dolor sit amet</p>

              <h6>Production</h6>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </small>
            </div>
          </div>
          <div class="img-con">
            <img class=""src="<%= __ASSETS_PATH__ %>images/experience/department/accounts-and-prod.jpg">
          </div>

        </section>
        
        <section class="creatives">
          <div class="desc-con">
            <h3>Creatives</h3>
            <div class="details-con">
              <small>
              <h6>Creatives</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud</p>
              <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.</p>
              <p>Lorem ipsum dolor sit amet</p>
              </small>
            </div>
          </div>
          <div class="img-con">
            <img class=""src="<%= __ASSETS_PATH__ %>images/experience/department/creatives.jpg">
          </div>

        </section>
        
        <section class="administration">
          <div class="desc-con">
            <h3>Admin</h3>
            <div class="details-con">
              <small>
              <h6>Administration</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud</p>
              <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.</p>
              <p>Lorem ipsum dolor sit amet</p>
              </small>
            </div>
          </div>
          <div class="img-con">
            <img class=""src="<%= __ASSETS_PATH__ %>images/experience/department/admin.jpg">
          </div>

        </section>
    </main>
</div>
