<!-- MODAL : partners -->

<div id="ex1" class="modal" data-modal="modal-jelen">
	<div class="modal-part">
		<div class="modal-img">
	  	<img src="<%= __ASSETS_PATH__ %>images/experience/partners/jelen.jpg" alt="partner-jelen">
		</div>
		<div class="modal-details">
			<span>modal</span>
			<div class="modal-slide-details">
			  <h4>Maria Jelen Pronstroller</h4>
			  <ul> 
			  	<li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
			  	<li>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
			  </ul>
			</div>
		</div>
	</div>
  <!-- <a href="#" rel="modal:close">Close</a> -->
</div>

<div id="ex1" class="modal" data-modal="modal-mike">
	<div class="modal-part">
		<div class="modal-img">
	  	<img src="<%= __ASSETS_PATH__ %>images/experience/partners/mike.jpg" alt="partner-mike">
		</div>
		<div class="modal-details">
			<span>modal</span>
			<div class="modal-slide-details">
			  <h4>Mike Gumaru</h4>
			  <ul> 
			  	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
			  	<li>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
			  	<li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
			  	<li>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
			  </ul>
			</div>
		</div>
	</div>
  <!-- <a href="#" rel="modal:close">Close</a> -->
</div>

<div id="ex1" class="modal" data-modal="modal-oman">
	<div class="modal-part">
		<div class="modal-img">
	  	<img src="<%= __ASSETS_PATH__ %>images/experience/partners/oman.jpg" alt="partner-oman">
		</div>
		<div class="modal-details">
			<span>modal</span>
			<div class="modal-slide-details">
			  <h4>Oman Tanchingco</h4>
			  <ul> 
			  	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
			  	<li>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
			  	<li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
			  	<li>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
			  </ul>
			</div>
		</div>
	</div>
  <!-- <a href="#" rel="modal:close">Close</a> -->
</div>



<!-- MODAL : Departments -->

<div id="ex1" class="modal" data-modal="modal-dept-accts">
	<div class="modal-dept">
		<div class="modal-img">
	  	<img src="<%= __ASSETS_PATH__ %>images/experience/department/accounts-and-prod.jpg" alt="department-accounts-and-prod">
		</div>
		<div class="modal-details">
			<span>modal</span>
			<div class="modal-slide-details">
			  <h5>Accounts</h5>
			  <ul> 
			  	<li>Management work: Account Management, Client Service</li>
			  	<li>Composed of account managers who juggle</li>
			  	<li>The ground of the team, always keeping things in check to guarantee that brand stories are well communicated to give consumers the most meaningful experiences.</li>
			  	<li>Activates client objectives</li>
			  </ul>
				<h5>Production</h5>
			  <ul> 
			  	<li>Production Planning and Execution</li>
			  	<li>Composed of production managers always on the go to put the creative ideas out, seamlessly setting the brand's vision into action</li>
			  	<li>Activates Creative Ideas</li>
			  </ul>
			</div>
		</div>
	</div>
  <!-- <a href="#" rel="modal:close">Close</a> -->
</div>