<div class="expedio-elements-container" style="width: 100%;display:none">
    <img src="<%= __ASSETS_PATH__ %>images/WATTAH.png" class="expedio expedio-element1" style="position: absolute;">
    <img src="<%= __ASSETS_PATH__ %>images/WATTAH.png" class="expedio expedio-element2" style="z-index:1;position: absolute;left:200px">
</div>
<div class="container-fluid navigation-page" style="display:none">
    <div id="nav-center">
        <div class="triangle">
            <div class="down" data-direction="down"></div>
            <div class="left" data-direction="left"></div>
            <div class="up" data-direction="up"></div>
        </div>
    </div>
</div>