<div class="container-fluid navigation-page" >

	<div class="expedio-element-container" data-js="width|height" >

		<img src="<%= __ASSETS_PATH__ %>images/landing/Rocket_1366x768.png" 
			expedio-id="Rocket_1366x768"
			duration="6000" 
			cssData='{
				"zIndex":21,
				"height":"100%"
			}'
			/>

		<img src="<%= __ASSETS_PATH__ %>images/landing/Building_1366x768.png" 
			expedio-id="Building_1366x768"
			duration="6000" 
			cssData='{
				"zIndex":20,
				"height":"100%"
			}'
			/>

		<img src="<%= __ASSETS_PATH__ %>images/landing/Eye_1366x768.png" 
			expedio-id="Eye_1366x768"
			duration="4000" 
			cssData='{
				"zIndex":19,
				"height": "100%"
			}'
			/>

		

	</div>

    <div id="nav-center" data-js='width'>
        <div class="triangle">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 104.6 111.7" style="enable-background:new 0 0 104.6 111.7;" xml:space="preserve">
			<g>
				<path 
					class="st0" 
					data-hook="move-page" 
					data-page="activate" 
					data-direction="top"
					d="M57.9,51.2l45.5-45.9c1.8-1.9,0.5-5-2.1-5H10.4c-2.6,0-3.9,3.1-2.1,5l45.5,45.9C54.9,52.4,56.8,52.4,57.9,51.2
					z"/>
				<path 
					data-hook="move-page" 
					data-page="engage" 
					data-direction="bottom"
					class="st0" 
					d="M53.7,60.4L8.3,106.3c-1.8,1.9-0.5,5,2.1,5h90.9c2.6,0,3.9-3.1,2.1-5L57.9,60.4C56.8,59.3,54.9,59.3,53.7,60.4
					z"/>
				<path 
					data-hook="move-page" 
					data-page="experience" 
					data-direction="left"
					class="st1" 
					d="M51.2,53.6L5.3,8.1c-1.9-1.8-5-0.5-5,2.1v90.9c0,2.6,3.1,3.9,5,2.1l45.9-45.5C52.4,56.6,52.4,54.7,51.2,53.6z"
					/>
			</g>
			</svg>
        </div>
    </div>
</div>