<div data-hook='carousel' data-slide='partnerSlide' class="partners-carousel">
    <div class="partner-mike">
        <img src="<%= __ASSETS_PATH__ %>images/img-container-portrait.svg">
        <div class="thumb-details">
            <h5>Mike Gumaru</h5>
            <p>Managing Partners</p>
        </div>
    </div>
    <div class="partner-oman">
        <img src="<%= __ASSETS_PATH__ %>images/img-container-portrait.svg">
        <div class="thumb-details">
            <h5>Oman Tanchingco</h5>
            <p>Chief Integrator</p>
        </div>    
    </div>
    <div class="partner-jelen">
        <img src="<%= __ASSETS_PATH__ %>images/img-container-portrait.svg">
        <div class="thumb-details">
            <h5>Jelen Pronstroller</h5>
            <p>Managing Partner - Events</p>
        </div>
    </div>
    <div class="partner-mike">
        <img src="<%= __ASSETS_PATH__ %>images/img-container-portrait.svg">
        <div class="thumb-details">
            <h5>Mike Gumaru</h5>
            <p>Managing Partners</p>
        </div>
    </div>
    <div class="partner-oman">
        <img src="<%= __ASSETS_PATH__ %>images/partners/img-container-portrait.svg">
        <div class="thumb-details">
            <h5>Oman Tanchingco</h5>
            <p>Chief Integrator</p>
        </div>    
    </div>
    <div class="partner-jelen">
        <img src="<%= __ASSETS_PATH__ %>images/partners/img-container-portrait.svg">
        <div class="thumb-details">
            <h5>Jelen Pronstroller</h5>
            <p>Managing Partner - Events</p>
        </div>
    </div>
</div>