<div data-hook='carousel' data-slide='partnerSlide' class="partners-carousel">
    <div>
        <img src="<%= __ASSETS_PATH__ %>images/partners/partner1.jpg">
    </div>
    <div>
        <img src="<%= __ASSETS_PATH__ %>images/partners/partner2.jpg">
    </div>
    <div>
        <img src="<%= __ASSETS_PATH__ %>images/partners/partner3.jpg">
    </div>
    <div>
        <img src="<%= __ASSETS_PATH__ %>images/partners/partner1.jpg">
    </div>
    <div>
        <img src="<%= __ASSETS_PATH__ %>images/partners/partner2.jpg">
    </div>
    <div>
        <img src="<%= __ASSETS_PATH__ %>images/partners/partner3.jpg">
    </div>
</div>