
.activate-container {
  background-image: url('../assets/images/activate/FLOATING-LINE-ART.png');

  .opening {
    @include opening-section;
  }

  .midway {
    @include midway-section;

  }

  
  .services {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-content: center;

    > div {
      @extend .px-1;
      @extend .pt-2;
      height: 25vh; 
      flex-basis: 50%;
      flex-grow: 1;
      
    }
  }

  .major-projects {
    @extend .py-2;
    text-align: center;
    > *:first-child {
      text-transform: uppercase;
      margin: 0;
    }
    p {
      margin: 0;   
    }

    div{
      @extend .mt-3;
    }
  }
 
}