
.activate-container {
   .opening {
    @include opening-section;
  }

  .midway {
    @include midway-section;

  }

  
  .services {
    display: flex;
    flex-wrap: wrap;

    div {
      min-height: 30vh;
      flex-basis: 50%;
      flex-grow: 1;
      
    }
  }

  .major-projects {
    > * {
      text-transform: uppercase;
    }
  }
 
}