.activate-container {
  background : url('../assets/images/activate/floating-line-art.png');
  background-repeat: repeat-y;
  background-size: cover;
}

.activate-page {

  section {
    @extend .mb-5;
    

    &.services {
      display: flex;
      flex-wrap: wrap;

      div {
        flex-basis: 50%;
        box-sizing: border-box;
        flex-grow: 1;
        
      }
    }

    &.major-projects {
      h2 {
        // text-transform: uppercase;
      }
    }

    h4 {
      font-weight:initial;
      text-align: center;
      @extend .px-3;
      @extend .mt-3;
    }

    .carousel {
      position: absolute;
      left: 0;
      img {
        filter: gray;
        filter: grayscale(100%);
      }
    }
  }
  
}