
.contact-container {
  background-image: url('../assets/images/contact-us/FLOATING-LINE-ART.png');
   .address {
      > *:first-child {
        text-align: center;
      }
    }

    .collab-text {
      > *:first-child {
        text-align: center;
      }
    }
  > div {
    flex-direction: row;
    justify-content: space-between;
  }
  section {
    flex-basis: (((100% / 5 ) * 2)- (10% / 5) * 2);
  }
  section:first-child {
    flex-basis: (((100% / 5 ) * 3 )- (10% / 5) * 3);
  }
} 

@media only screen and (orientation: portrait) {
  .contact-container {
    > div {
      flex-direction: column;
      section {
        flex: 1;
      }
    }
   
  }

}