.contact-container {
  background : url('../assets/images/contact-us/floating-line-art.png');
  background-repeat: repeat-y;
  background-size: cover;
}

@mixin box-size($n) {
  flex-basis: ((100% / $n ) - (10% / $n));
}

.contact-page {
  justify-content: space-between;
  flex-direction: row;

  section {
    flex: unset;
    @include box-size(2);

    .collab-text {
      text-align:center;
      @extend .mb-3;

      h2 {
        margin-block-end: 0.25em;
      }

    }
  }

  .address {
    width: max-content;
    margin: 0 auto;
  }

  .messenger {
    position: fixed;
    right: 0;
  }
}

