.engage-container {
  background-image: url('../assets/images/engage/FLOATING-LINE-ART.png');
  max-width: 100vw;
  overflow-x: hidden; 
  
  .engage-page {
    overflow-x: visible;
    .opening {
      @include opening-section;
    }
    .midway {
      @include midway-section;
    }

    .live-stream {
      @extend .mb-3;
      > * {
        text-transform: uppercase;
      }
    }
  }
 
}

@keyframes multi-bg {
  0% {
    background-position:  0px 0px,
                          center 35vh;
  }
  25% {
    background-position:  0px 0px,
                          center 25vh;
  }
  50% {
    background-position:  0px 0px,
                          center 35vh;
  }
  75% {
    background-position:  0px 0px,
                          center 20vh;
  }
  100% {
    background-position:  0px 0px,
                          center 35vh;
  }
}

.engage-container {
  .testimonials{
    > *:first-child {
      text-transform: uppercase;
    }
    .space-testimony{
      // background : url('../assets/images/engage/blue-background.png');  
      background-color: #075991;
      background-image: url('../assets/images/engage/stars.png'),
                        url('../assets/images/engage/astronaut.png');  
      background-size: cover, 50vh;
      background-position-y: inherit, bottom; 
      animation: multi-bg linear 10s infinite;
      animation-timing-function: ease-in-out;
      background-repeat: repeat, no-repeat;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      height: 100vh;
      max-height: 100vh; 
      position: relative;  
      overflow-x: scroll;
      overflow-y: hidden;
      > div {
        position: absolute;
        &.space-stars{
          width: 100vw;
          height: 100vh;
          // position: fixed;
        }
        // &.space-astronaut{
        //   margin-left: 50%;
        //   transform: translateX(-50%);
        //   bottom: 5vh;
        // }
        &.space-balloons{
          background-image: url('../assets/images/engage/crater-landscape.png');
          background-repeat: repeat-x;
          background-position: bottom;
          background-size: auto 10vh;
          height: 100vh;  
          ul {
            position: relative;
            width: 100%;
            height: 100vh;
            min-width: 100vw;
            perspective: 1000px;
            display: flex;
            li {
              list-style: none;
              width: max-content;
              max-width: 375px;
              height: max-content;
              max-height: max-content;
              background-color: #fff;
              @extend .m-1;
              @extend .px-2;
              @extend .py-3;
              border: 1px solid #c8c8c8;
              border-radius: 15px;
              font-size: 0.85rem;
              font-weight: bold;
              position: relative; 
              opacity: 0.9;
              &::before {
                content: "";
                border-style: solid;
                position: absolute;
                border-color: #c8c8c8 transparent transparent transparent;
                border-width: 12px 12px 0px 12px;
                bottom: -12px;
                left: 50%;
              }
              &::after {
                border-color: #fff transparent transparent transparent;
                border-style: solid;
                border-width: 10px 10px 0px 10px;
                content: "";
                position: absolute;
                bottom: -10px;
                left: calc(50% + 1.5px);
              }

              > * {
                margin: 0;
                font-weight: bold;
              }
              &.balloon-p2 {
                margin-top: 20vh;
              }
              &.balloon-p3 {
                margin-top: 10vh;
              }
              &.balloon-p4 {
                margin-top: 40vh;
              }
              &.balloon-p5 {
                margin-top: 17vh;
              }

              &:nth-child(even) {
                margin-left: 20vw;
              }
              &:nth-child(3n-0) {
                margin-left: 5vw;
              }

              &:nth-child(7n-0) {
                margin-left: 15vw;
              }
              
            }
          }

        }
        &.space-crater{
          // background : url('../assets/images/engage/crater-landscape.png');  
          // height: 10vh;
          // width: 100%;
          // display: block;
          // bottom: 0;
          // left: 0;
          // background-repeat: repeat-x;
          // background-size: cover;
          // animation: crater 5s linear infinite;
        }
      }
    }

      
  }
}

@keyframes crater {
  100% {
    transform: translateX(-3400px);
  }
}

@media handheld, (max-width: 768px), (orientation: portrait) {
  .engage-container {
    .testimonials {
      .space-testimony {
        > div {
          &.space-astronaut {
            max-height: 50vh;
            width: auto;
            > img {
              margin-top: 25vh; 
            }
          }
          &.space-balloons {
           ul li {
              max-width: 70vw;
              &:nth-child(even) {
                margin-left: 50vw;
              }
              &:nth-child(3n-0) {
                margin-left: 20vw;
              }

            }
          }
        }
      }
    }
  }
}


@media (orientation: landscape) {
   .engage-container {
    .testimonials {
      .space-testimony {
        > div {
          .space-astronaut {
            max-height: 50vh;
            > img {
              margin-top: 5vh; 
            }
          }
        }
      }
    }
  }
}