
.experience-container {
	background-image: url('../assets/images/experience/FLOATING-LINE-ART.png');
	.opening {
		@include opening-section;
	}

}


.experience-page {
	.acct-prod {
		@include img-en-desc; 
	}
	.creatives {
		@include img-en-desc;       
	
		@media only screen and (min-width: 768px) {
			element {
				flex-direction: row-reverse;
				}
			}
	}
	.administration {
		@include img-en-desc; 
	}
}




//thumbnail [partners]
.experience-page {
	.partners {
		min-height: 100vh;
		padding: 0;
		margin: 0;
		list-style: none;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;

		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		
		> element {
			width: 100%;
			max-height: calc(100vh - 2rem);
			@media only screen and (min-width: 768px) {
				width: calc( 100% / 3 - calc(4rem / 3));
				height: auto;
			}
			position: relative;
			overflow: hidden;
			cursor: pointer;

			background-color: rgba(255,255,255,1);
			filter: grayscale(100%);
    		-webkit-filter: grayscale(100%);
			background-size: cover;
			background-blend-mode: luminosity;
  			transition: background-color 1s ease-out;
  			border: 1px solid #ccc;
			@extend .mb-1;


			&:hover {
				 background-color: rgba(255,255,255,0) !important;
				 filter: none;
    			-webkit-filter: grayscale(0);
				.thumb-details {
					bottom: 0;

				}
			}

			&.partner-oman {
    			background-image: url('../assets/images/experience/partners/oman.jpg');
			}

			&.partner-mike {
    			background-image: url('../assets/images/experience/partners/mike.jpg');
			}

			&.partner-jelen {
    			background-image: url('../assets/images/experience/partners/jelen.jpg');
			}
		}

		img {
			visibility: hidden;
		}

		.thumb-details {
			transition: all 1s ease-in-out;
			background-color: fade-out($color-primary, .25);
			color: lighten($color-primary, 70%);
			@extend .p-2;
			@extend .pb-5;
			position: absolute;
			bottom: -100%;
			max-height: 100%;
			width: 100%;
			> * {
				margin: 0;
			}
		}
		.partners-intro {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			
		}
		
	}
}

.experience-page {
	.depts {
		> .depts-intro {
			@extend .px-2;
			@extend .my-2;
			width: 100%;
			p {
				max-width: 750px;
				margin: auto;
				text-align: center;
			}
		}
		@extend .partners;
		> element {
			@media only screen and (min-width: 768px) {
				width: calc( 100% / 4 - calc(4rem / 4));
				height: auto;
			}
		}
	}
}


.experience-page {
	.depts {
		element {
			&.depts-abelle{
				background-image: url('../assets/images/experience/employee/abelle.jpg');
			}
			&.depts-allan{
				background-image: url('../assets/images/experience/employee/allan.jpg');
			}
			&.depts-andrea{
				background-image: url('../assets/images/experience/employee/andrea.jpg');
			}
			&.depts-anjo{
				background-image: url('../assets/images/experience/employee/anjo.jpg');
			}
			&.depts-arlyn{
				background-image: url('../assets/images/experience/employee/arlyn.jpg');
			}
			&.depts-ayie{
				background-image: url('../assets/images/experience/employee/ayie.jpg');
			}
			&.depts-bryan{
				background-image: url('../assets/images/experience/employee/bryan.jpg');
			}
			&.depts-camille{
				background-image: url('../assets/images/experience/employee/camille.jpg');
			}
			&.depts-carlos{
				background-image: url('../assets/images/experience/employee/carlos.jpg');
			}
			&.depts-cathy{
				background-image: url('../assets/images/experience/employee/cathy.jpg');
			}
			&.depts-cylo{
				background-image: url('../assets/images/experience/employee/cylo.jpg');
			}
			&.depts-dale{
				background-image: url('../assets/images/experience/employee/dale.jpg');
			}
			&.depts-dm{
				background-image: url('../assets/images/experience/employee/dm.jpg');
			}
			&.depts-emmie{
				background-image: url('../assets/images/experience/employee/emmie.jpg');
			}
			&.depts-eric{
				background-image: url('../assets/images/experience/employee/eric.jpg');
			}
			&.depts-gela{
				background-image: url('../assets/images/experience/employee/gela.jpg');
			}
			&.depts-hart{
				background-image: url('../assets/images/experience/employee/hart.jpg');
			}
			&.depts-hazel{
				background-image: url('../assets/images/experience/employee/hazel.jpg');
			}
			&.depts-inna{
				background-image: url('../assets/images/experience/employee/inna.jpg');
			}
			&.depts-jelen{
				background-image: url('../assets/images/experience/employee/jelen.jpg');
			}
			&.depts-jeremy{
				background-image: url('../assets/images/experience/employee/jeremy.jpg');
			}
			&.depts-jerry{
				background-image: url('../assets/images/experience/employee/jerry.jpg');
			}
			&.depts-lea{
				background-image: url('../assets/images/experience/employee/lea.jpg');
			}
			&.depts-lou{
				background-image: url('../assets/images/experience/employee/lou.jpg');
			}
			&.depts-maene{
				background-image: url('../assets/images/experience/employee/maene.jpg');
			}
			&.depts-marcie{
				background-image: url('../assets/images/experience/employee/marcie.jpg');
			}
			&.depts-marnie{
				background-image: url('../assets/images/experience/employee/marnie.jpg');
			}
			&.depts-mel{
				background-image: url('../assets/images/experience/employee/mel.jpg');
			}
			&.depts-mike{
				background-image: url('../assets/images/experience/employee/mike.jpg');
			}
			&.depts-nenen{
				background-image: url('../assets/images/experience/employee/nenen.jpg');
			}
			&.depts-oman{
				background-image: url('../assets/images/experience/employee/oman.jpg');
			}
			&.depts-phoebe{
				background-image: url('../assets/images/experience/employee/phoebe.jpg');
			}
			&.depts-ray{
				background-image: url('../assets/images/experience/employee/ray.jpg');
			}
		
		}
		
		
	}
}



// slick-slide carousel
.slick-slider {
	.slick-prev {
		display: none !important;
	}
	.slick-next {
		display: none !important;
	}
	.slick-slide {  
		@extend .pl-1;
		flex: 1;
		> div > div {
			position: relative; 
			height: 100%;
			overflow: hidden;
			cursor: pointer;
		}
		.thumb-details {
			position: absolute;
			bottom: 0;
			background-color: fade-out($color-primary, .25);
			color: lighten($color-primary, 70%);
			width: 100%;
			@extend .px-2;
			@extend .py-3;
			> * {
				margin: 0;
				line-height: 1.5;
			}
		}
		img {
			filter: grayscale(100%);
			height: 100%;
			object-fit: cover;
		}


		&:nth-child(even) {
			.thumb-details {
			background-color: fade-out($color-secondary, .25);
			color: lighten($color-secondary, 70%);
			}
		}
	}
}


@media only screen and (min-width: 768px) {
	.slick-slider {
		.slick-slide{
			.thumb-details{
				bottom: -100%;
				transition: bottom 1s ease-in-out;
			}
			img {
				filter: grayscale(100%);
				height: 100%;
				object-fit: cover;
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
				.thumb-details {
					bottom: 0;
					transition: bottom 1s ease-in-out;
				}
			}

		}
	}
}

