<!DOCTYPE html>
<html>
<%- include pages/header.html -%>
<body>
    <div class="whole-page">
        <!-- put nav here -->
        <%- include pages/activate.html -%>
        <%- include pages/engage.html -%>
        <%- include pages/contact.html -%>
    </div>
</body>
</html>