// triangle
$triangle-x-y : 100px;
$triangle-size1: 100px;
$triangle-size2: 50px;

$triangle-left-size : 0 0, 0 $triangle-size1, $triangle-size2 $triangle-size2 !default;
$triangle-up-size : $triangle-size2 $triangle-size2, 0 $triangle-size1, $triangle-size1 $triangle-size1 !default;
$triangle-down-size : 0 0, $triangle-size1 0, $triangle-size2 $triangle-size2 !default;


.triangle {
	position: relative;
	height: $triangle-x-y;
  width: $triangle-x-y;
}
%triangle-shared {
	position: absolute;	
	height: $triangle-x-y;
	width: $triangle-x-y;
	cursor: pointer;
}

.left {	
	@extend %triangle-shared;
	shape-outside: polygon($triangle-left-size);
	clip-path: polygon($triangle-left-size);
	background: $color-primary;
	left: -2.5px;

}
.up {
	@extend %triangle-shared;	
	shape-outside: polygon($triangle-up-size);
	clip-path: polygon($triangle-up-size);
	background: $color-secondary;
	top: 2.5px;
	left: 2.5px;
}
.down {	
	@extend %triangle-shared;
	shape-outside: polygon($triangle-down-size);
	clip-path: polygon($triangle-down-size);
	background: $color-secondary;
	top: -2.5px;
	left: 2.5px;
	
}

#nav-center{
  position: relative;
  width: 100%;
  height: 100vh;
  .triangle{
    position: absolute;
    left: calc(50% - #{$triangle-x-y}/2);
    top: calc(50% - #{$triangle-x-y}/2);
  }
}