main {
  background-color: $color-main-bg;
  display: flex;
  width: 100%;
  > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    @extend .p-5;
    section {
    }
  }
}

@media (min-width: 768px){

  main, nav {
    > div {
      width: 750px;
      margin: auto;
    }
  }

}


@media (min-width: 992px){

  main, nav {
    > div {
      width: 970px;
      margin: auto;
    }
  }

}


@media (min-width: 1200px){

  main, nav {
    > div {
        width: 1170px;
        margin: auto;
    }
  }

}