$color-primary: #64b646;
$color-secondary: #065990;
$color-dark: #191919;

$color-bg-toolbar: #005792 !default;
$color-toolbar-right-shadow: #06436b !default;
$color-toolbar-bottom-shadow: #0b344f !default;